/* snake.css */
.snake-game {
    position: relative;
    text-align: center;
}
.score {
  color: black; /* Change color as needed */
  font-weight: bold;
}

.board {
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}
